@model GameViewModel
@{
    List<String> types = Model.Game.GameType.Split("，").ToList();
    Game game = Model.Game;
    List<String> resource = new List<string>();
    Model.Resources.ForEach(delegate (GameResource r)
    {
        resource.Add(r.ImageAddr);
    });
    int price = Model.Price;
    double discount = 0.6;
    List<String> languages = game.SupportLanguage.Split(",").ToList();
}
@section Title{
    WeB商店-@game.GameName
}
@section Header{
    <link href="https://steamstore-a.akamaihd.net/public/css/v6/game.css?v=uz9vlFc2Irtr" rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/shared/css/apphub.css?v=dunRbO3rtVVd" rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/shared/css/store_game_shared.css?v=x7dVnC6RV2vW" rel="stylesheet" type="text/css">
}
@BodyContent
<div class="page_title_area game_title_area page_content">
    <div class="breadcrumbs">
        <div class="blockbg">
            <a href="https://store.steampowered.com/search/?term=&amp;snr=1_5_9__205">所有游戏</a>
            &gt; <a href="https://store.steampowered.com/genre/RPG/?snr=1_5_9__205">@types[0]</a>
            &gt; <a href="https://store.steampowered.com/app/378540/?snr=1_5_9__205"><span itemprop="name">@game.GameName</span></a>
        </div>
        <div style="clear: left;"></div>
    </div>
    <div class="apphub_HomeHeaderContent">
        <div class="apphub_HeaderStandardTop">
            <div class="apphub_OtherSiteInfo">
                <a class="btnv6_blue_hoverfade btn_medium" href="https://steamcommunity.com/app/378540">
                    <span>社区中心</span>
                </a>
            </div>
            <div class="apphub_AppIcon"><img src="@resource[0]"><div class="overlay"></div></div>
            <div class="apphub_AppName">@game.GameName</div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>
<div class="block">
    <script type="text/javascript">
        var strRequiredVersion = "9";
        if (typeof (g_bIsOnMac) != 'undefined' && g_bIsOnMac)
            strRequiredVersion = "10.1.0";
    </script>
    <div class="game_background_glow">
        <div class="block_content page_content" id="game_highlights">
            <!--右边-->
            <div class="rightcol">
                <div class="glance_ctn">
                    <div class="game_header_image_ctn">
                        <!--右边单一图片-->
                        <img class="game_header_image_full" src="@resource[0]">
                    </div>
                    <div class="game_description_snippet">
                        @game.Description
                    </div>
                    <div class="glance_ctn_responsive_left">
                        <div class="user_reviews">
                            <div class="user_reviews_summary_row" onclick="window.location='#app_reviews_hash'" style="cursor: pointer;" data-tooltip-text="2,719 篇用户的游戏评测中有 73% 为好评。" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                <div class="subtitle column all">全部评测:</div>
                                <div class="summary column">
                                    <span class="game_review_summary positive" itemprop="description">好评率 @game.GameEvaluate.ToString("##.%")</span>
                                </div>
                            </div>
                            <div class="release_date">
                                <div class="subtitle column">发行日期:</div>
                                <div class="date">@game.SaleDate</div>
                            </div>

                            <div class="dev_row">
                                <div class="subtitle column">开发商:</div>
                                <div class="summary column" id="developers_list">
                                    <a>@game.GameDeveloper</a>
                                </div>
                            </div>

                            <div class="dev_row">
                                <div class="subtitle column">发行商:</div>
                                <div class="summary column">
                                    <a>@game.GamePublisher</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="glance_ctn_responsive_right">
                        <!-- when the javascript runs, it will set these visible or not depending on what fits in the area -->
                        <div class="glance_tags_ctn popular_tags_ctn">
                            <div class="glance_tags_label">该产品的热门用户自定义标签：</div>
                            <div class="glance_tags popular_tags" data-appid="378540">
                                @foreach (var tag in types)
                                {
                                    <a class="app_tag" style="">
                                        @tag
                                    </a>
                                }
                                <div class="app_tag add_button" onclick="ShowAppTagModal(378540)">+</div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <!--右边-->
            <div class="leftcol">
                <div class="highlight_ctn">
                    <div class="highlight_overflow">
                        <div class="highlight_player_area_spacer">
                            <!--左边单一大图-->
                            <img src="@resource[1]">
                        </div>

                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
<div class="page_content">
    <!-- Right Column -->
    <div class="rightcol game_meta_data">
        <div id="responsive_apppage_details_left_ctn"></div>
        <div id="responsive_apppage_details_right_ctn"></div>
        <div style="clear: both;"></div>
        <div><div class="block responsive_apppage_details_right heading">您对这款游戏感兴趣吗？</div></div>
        <div>
            <div class="block responsive_apppage_details_right recommendation_noinfo">
                <p>
                    基于您的游戏、好友以及您关注的鉴赏家，登录以查看您是否有可能喜欢这个内容的原因。
                </p>
                <br>
            </div>
        </div>
        <div>
            <div class="block responsive_apppage_details_left">
                <div>
                    <a class="btnv6_blue_hoverfade btn_medium" href="javascript:ShowGotSteamModal( 'steam://install/646690', &quot;The Surge Demo&quot;, &quot;\u4e0b\u8f7d\u8bd5\u73a9\u6e38\u620f&quot; )">
                        <span>下载试玩游戏</span>
                    </a>
                </div>
            </div>
        </div>

        <div>
            <div class="block responsive_apppage_details_right">
                <div class="block_title">
                    语言:
                </div>
                <table class="game_language_options" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th style="width: 94px;"></th>
                            <th class="checkcol">界面&nbsp;</th>
                            <th class="checkcol">完全音频&nbsp;</th>
                            <th class="checkcol">字幕&nbsp;</th>
                        </tr>
                        @foreach (var lang in languages)
                        {
                            <tr style="" class="">
                                <td style="width: 94px; text-align: left" class="ellipsis">
                                    @lang
                                </td>
                                <td class="checkcol">
                                    <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                                </td>
                                <td class="checkcol">
                                    <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                                </td>
                                <td class="checkcol">
                                    <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                                </td>
                            </tr>
                        }

                    </tbody>
                </table><br />
                <a class="all_languages" onclick="$J('table.game_language_options tr').show(); $J(this).hide(); return false">共支持 @languages.Count 种语言</a>

            </div>
        </div>
        <!--支持语言-->
        <div>
            <div class="block responsive_apppage_details_right">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <p><a href="http://www.pegi.info/"><img src="https://steamstore-a.akamaihd.net/public/images/ratings/PEGI/18.gif"></a></p>
                            </td>
                            <td width="10"></td>
                            <td valign="top">
                                <p id="descriptorText">
                                    Bad Language<br>
                                    Violence
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <!--开发商之类的-->
        <div>
            <div class="block responsive_apppage_details_left game_details underlined_links">
                <div class="block_content">
                    <div class="block_content_inner">
                        <div class="details_block">
                            <b>名称:</b> @game.GameName<br>

                            <b>类型:</b> <a">
                                @game.GameType</a><br>

                            <div class="dev_row">
                                <b>开发商:</b>

                                <a>@game.GameDeveloper</a>
                            </div>

                            <div class="dev_row">
                                <b>发行商:</b>

                                <a>@game.GamePublisher</a>
                            </div>
                            <b>发行日期:</b> @game.SaleDate<br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="block responsive_apppage_details_left">
            <a class="btnv6_blue_hoverfade btn_medium" href="#" onclick="ShowShareDialog(); return false;"><span>分享</span></a>
            <a class="btnv6_blue_hoverfade btn_medium" href="#" onclick="ShowEmbedWidget(378540); return false;"><span>嵌入</span></a>
            <a id="ReportAppBtn" class="btnv6_blue_hoverfade btn_medium" href="javascript:void(0)" onclick="ShowReportDialog(378540)"><span data-tooltip-text="举报该产品"><i class="ico16 reportv6"></i>&nbsp;</span></a>
        </div>
    </div>

</div>
<!-- End Right Column -->
<div class="leftcol game_description_column">
    <div id="game_area_purchase">
        <!--[if lte IE 7]>
        <style type="text/css">
        .game_area_purchase_game_dropdown_right_panel .btn_addtocart { float: none; }
        </style>
        <![endif]-->
        <div class="game_area_purchase_game_wrapper">
            <div class="game_area_purchase_game">
                <form name="add_to_cart_160760" action="https://store.steampowered.com/cart/" method="POST">
                    <input type="hidden" name="snr" value="1_5_9__403">
                    <input type="hidden" name="action" value="add_to_cart">
                    <input type="hidden" name="sessionid" value="06d41e9dc42b69a69d6e53bc">
                    <input type="hidden" name="subid" value="160760">
                </form>
                <div class="game_area_purchase_platform"><span class="platform_img win"></span></div>
                <h1>购买 @game.GameName</h1>
                <p class="game_purchase_discount_countdown">特价促销!</p>
                <div class="game_purchase_action">
                    <div class="game_purchase_action_bg">
                        <div class="discount_block game_purchase_discount"> <div class="discount_pct">- @discount.ToString("##.%")</div><div class="discount_prices"><div class="discount_original_price">¥ @(price / (1 - discount))</div><div class="discount_final_price">¥ @price</div></div></div>													<div class="btn_addtocart">
                            <a class="btnv6_green_white_innerfade btn_medium" href="javascript:addToCart(160760);">
                                <span>添加至购物车</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- game_area_dlc_section -->

</div>
<!-- game_area_purchase -->
<div class="purchase_area_spacer">&nbsp;</div>
<!-- Announcements block -->
<div class="early_access_announcements">
    <div style="display: inline-block; margin: 20px 0 0 0;  width: 4%;  /* height: 190px; */ "></div>
</div>

<div class="game_page_autocollapse_ctn">
    <div class="game_page_autocollapse" style="max-height: none;">
        <div id="game_area_description" class="game_area_description">
            <h2>关于这款游戏</h2>
            @game.Description<br />
            @for (int i = resource.Count - 2; i < resource.Count; i++)
            {
                <img src="@resource[@i]">

            }
        </div>
    </div>

    <!--系统配置-->
    <div class="game_page_autocollapse sys_req" style="max-height: none;">
        <h2>系统需求</h2>
        <div class="sysreq_contents">
            <div class="game_area_sys_req sysreq_content active" data-os="win">
                <div class="game_area_sys_req_leftCol">
                    <ul>
                        <strong>最低配置:</strong>
                        <br>
                        <ul class="bb_ul"><li>需要 64 位处理器和操作系统<br></li><li><strong>操作系统:</strong> 64bit Versions of Windows 7, Windows 8, Windows 10<br></li><li><strong>处理器:</strong> Intel Core i3 2130 or AMD FX 4300<br></li><li><strong>内存:</strong> 8 GB RAM<br></li><li><strong>图形:</strong> Nvidia GT 640 or AMD HD 7750<br></li><li><strong>DirectX 版本:</strong> 11<br></li><li><strong>网络:</strong> 宽带互联网连接<br></li><li><strong>存储空间:</strong> 需要 50 GB 可用空间<br></li><li><strong>声卡:</strong> DirectX Compatible Soundcard<br></li><li><strong>附注事项:</strong> Requires a 64-bit processor and operating system</li></ul>
                    </ul>
                </div>
                <div class="game_area_sys_req_rightCol">
                    <ul>
                        <strong>推荐配置:</strong>
                        <br>
                        <ul class="bb_ul"><li>需要 64 位处理器和操作系统<br></li><li><strong>操作系统:</strong> 64bit Versions of Windows 7, Windows 8, Windows 10<br></li><li><strong>处理器:</strong> Intel Core i5 8600K or AMD Ryzen 5 2600X<br></li><li><strong>内存:</strong> 8 GB RAM<br></li><li><strong>图形:</strong> Nvidia GTX 1060 or AMD RX 580<br></li><li><strong>DirectX 版本:</strong> 11<br></li><li><strong>网络:</strong> 宽带互联网连接<br></li><li><strong>存储空间:</strong> 需要 50 GB 可用空间<br></li><li><strong>声卡:</strong> DirectX Compatible Soundcard<br></li><li><strong>附注事项:</strong> Requires a 64-bit processor and operating system</li></ul>
                    </ul>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $J(function () {
            var $Tabs = $J('.sysreq_tab');
            var $Content = $J('.sysreq_content');

            $Tabs.click(function () {
                var $Tab = $J(this);
                $Tabs.removeClass('active');
                $Tab.addClass('active');

                $Content.removeClass('active');
                $Content.filter('[data-os=' + $Tab.data('os') + ']').addClass('active');

                $Content.trigger('gamepage_autocollapse_expand');
            });
        });
    </script>
    <!--游戏版权-->
    <div class="game_page_autocollapse_ctn">
        <div class="game_page_autocollapse" style="max-height: none;">
            <div id="game_area_legal">
                <p>©2017 Deck13 and Focus Home Interactive. Deck13 and its logos are trademarks or registered trademarks of Deck13. Focus Home Interactive and its logos are trademarks or registered trademarks of Focus Home Interactive. All other trademarks, registered trademarks and their logos belong to their respective owners. All rights reserved.</p>
            </div>
        </div>
        <div id="responsive_apppage_reviewblock_ctn" class="rightcol game_meta_data" style=""></div>

    </div>
    <div style="clear: both;"></div>
</div>
