@model List<GameViewModel>
@section Title{
    WeB商店
}
@BodyContent
<div class="home_cluster_ctn home_ctn" xmlns="http://www.w3.org/1999/html">
    <div class="home_page_content">
        <h2 class="test">精选</h2>
        <div id="home_maincap_v7" class="carousel_container maincap">
            <div class="carousel_items">
                @for (int i=0; i<Model.Count; i++)
                {
                    <a class="store_main_capsule broadcast_capsule app_impression_tracked" data-manual-tracking="1" data-ds-appid="750920" href="http://localhost:8000/Store/Good?ig=@Model[i].Game.Id" data-ds-tagids="[21,19,21722,7208,1742]" data-ds-descids="[2,5]">
                        @{ List<GameResource> resources = Model[i].Resources; }
                        <div class="capsule main_capsule" data-background-image-url="@resources[0].ImageAddr" style="background-image: url(&quot;@resources[0].ImageAddr&quot;);">
                            @for (int j = 1; j < resources.Count; j++)
                            {
                                <div class="screenshot" data-background-image-url="@resources[j].ImageAddr" style="background-image: url(&quot;@resources[j].ImageAddr&quot;);"></div>
                            }
                        </div>
                        <div class="info">
                            <div class="app_name">
                                <div>@Model[i].Game.GameName</div>
                            </div>
                            <div class="screenshots">@for (int j = 1; j < resources.Count; j++){<div><div data-background-image-url="@resources[j].ImageAddr" style="background-image: url(&quot;@resources[j].ImageAddr&quot;);"></div> </div>}
                            </div>
                            <div class="reason">
                                <div class="main default">现已推出</div>
                                <div class="additional">
                                    <div>热销商品</div>
                                </div>
                            </div>
                            <div class="discount_block  no_discount discount_block_inline"> 
                                <div class="discount_prices"><div class="discount_final_price">¥ @Model[i].Price</div></div>
                            </div>
                            <div class="platforms">
                                <span class="platform_img win"></span>
                            </div>
                        </div>

                    </a>
                }
            </div>
            <div class="carousel_thumbs" data-usability="1">
                <div class="精选选项 focus" onclick="精选_跳转到(0)"></div>
                @for (int i = 1; i < Model.Count; i++)
                {
                    <div class="精选选项" onclick="精选_跳转到(@i)"></div>
                }
            </div>
            <div class="arrow left" data-usability="1"><div></div></div>
            <div class="arrow right" data-usability="1"><div></div></div>
        </div>

        <div style="overflow: visible;  margin-top: 60px;">

            <div class="home_tabs_content">
                <div class="tab_content" id="tab_newreleases_content">
                    @foreach (var view in Model)
                    {
                        <a href="http://localhost:8000/Store/Good?ig=@view.Game.Id" class="tab_item app_impression_tracked" data-ds-appid="885150" data-ds-tagids="[19,4158,1773,1693]" data-ds-crtrids="[33273264]">
                            <div class="tab_item_cap">
                                <img class="tab_item_cap_img" src="@view.Resources[0].ImageAddr" width="184" height="69">
                            </div>
                            <div class="discount_block tab_item_discount no_discount">
                                <div class="discount_prices">
                                    <div class="discount_final_price">¥ @view.Price</div></div></div>
                            <div class="tab_item_content">
                                <div class="tab_item_name">@view.Game.GameName</div>
                                <div class="tab_item_details">
                                    <span class="platform_img win"></span>
                                    <div class="tab_item_top_tags"><span class="top_tag">@view.Game.GameType</span></div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </a>

                    }
                    <div class="tab_see_more">
                        查看更多：
                        <a href="https://store.steampowered.com/explore/new/?snr=1_4_4__tabsmore" class="btnv6_white_transparent btn_small_tall">
                            <span>新品</span>
                        </a>
                    </div>

                </div>

            </div>
         </div>
     </div>
    <div class="scriptdocument">
        <script src="js/store.js"></script>
    </div>
</div>